/**/
*{padding: 0; margin: 0;}
#wrapper{border: none;}
#header{background-color: #202020; height: 100px;}
#box-container::after{
  content: " ";
  display: block;
  clear:both;
}

#box-container{ width:98%; margin: 0 auto;}
.box{
  height:200px; width:100%;
  border: solid black;
  margin-top: 10px;
}

#footer{height: 100px; background-color: #202020; margin-top:10px;}