*{padding:0;  margin:0;}

/****************** 1200px *******************************/
@media(min-width:1201px)
{

  #main-frame{
    background-color: rgb(255, 255, 255);
    width: 94%;
    float: left;
    margin: 2%;
    color: white;
    text-align: center;
    border: 2px solid blue;
  }

  .frame{
    background-color: rgb(255, 255, 255);
    width: 24%;
    height: 210px;
    float: left;
    margin: 0.5%;
    color: white;
    text-align: center;
    border: 2px solid red;
  }
  .frame::after{content:""; display: block; clear:both;} 

  
li{
  margin-left: 2%;
}

} 
/****************** 992px and 1200px *******************************/
@media(min-width:1001px ) and (max-width:1200px)
{

  #main-frame{
    background-color: rgb(255, 255, 255);
    width: 94%;
    float: left;
    margin: 2%;
    color: white;
    text-align: center;
    border: 2px solid blue;
  }

  .frame{
    background-color: rgb(255, 255, 255);
    width: 32%;
    height: 210px;
    float: left;
    margin: 0.5%;
    color: white;
    text-align: center;
    border: 2px solid red;
  }
  .frame::after{content:""; display: block; clear:both;} 

    
li{
  margin-left: 3%;
}

} 

/****************** 701px and 1000px *******************************/
@media(min-width:701px ) and (max-width:1000px)
{

  #main-frame{
    background-color: rgb(255, 255, 255);
    width: 94%;
    float: left;
    margin: 2%;
    color: white;
    text-align: center;
    border: 2px solid blue;
  }

  .frame{
    background-color: rgb(255, 255, 255);
    width: 32%;
    height: 210px;
    float: left;
    margin: 0.5%;
    color: white;
    text-align: center;
    border: 2px solid red;
  }
  .frame::after{content:""; display: block; clear:both;} 

    
li{
  margin-left: 3%;
}

} 

/****************** 701px and 1000px *******************************/
@media(min-width:451px ) and (max-width:700px)
{

  #main-frame{
    background-color: rgb(255, 255, 255);
    width: 94%;
    float: left;
    margin: 2%;
    color: white;
    text-align: center;
    border: 2px solid blue;
  }

  .frame{
    background-color: rgb(255, 255, 255);
    width: 49%;
    height: 210px;
    float: left;
    margin: 0.5%;
    color: white;
    text-align: center;
    border: 2px solid red;
  }
  .frame::after{content:""; display: block; clear:both;} 

    
li{
  margin-left: 3%;
}

} 

/****************** 701px and 1000px *******************************/
@media(max-width:450px)
{

  #main-frame{
    background-color: rgb(255, 255, 255);
    width: 94%;
    float: left;
    margin: 2%;
    color: white;
    text-align: center;
    border: 2px solid blue;
  }

  .frame{
    background-color: rgb(255, 255, 255);
    width: 99%;
    height: 210px;
    float: left;
    margin: 0.5%;
    color: white;
    text-align: center;
    border: 2px solid red;
  }
  .frame::after{content:""; display: block; clear:both;} 

    
li{
  margin-left: 10%;
}

} 
/*********************** end *******************************/

#wrapper-mainpage{ 
  padding: none;
  background-color: rgb(234, 240, 240);
}

#header{
  background-color: rgb(39, 39, 39);
  height: 100px;
  color: white;
  text-align: center;
  padding-top: 2%;
}

#bodyin{
  background-color: rgb(255, 255, 255);
  height: 100%;
  color: white;
  text-align: center;
  border: 2px solid red;
}
#bodyin::after{content:""; display: block; clear:both;} 

#footer{
  background-color: rgb(39, 39, 39);
  height: 100px;
  color: white;
  text-align: center;
}

#content-list{
  text-decoration: none;
  text-align: left;
  font-size: 200%;
  color: rgb(39, 39, 39);
  margin: 3%;
  border: solid black;
}

a:hover { 
  color: rgb(58, 228, 6);
}

a{ 
  color: rgb(39, 39, 39);
}

